@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

:root {
    --theme-color-red: 220, 6, 17;
    --theme-color-red-hover: 244, 6, 18;
}

html {
    font-family: 'Pretendard', sans-serif;
}

body {
    font-size: 1rem;
    margin: unset;
}

.--theme-dark {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.--theme-light {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

button, input, select, textarea {
    background-color: unset;
    border: unset;
    color: inherit;
    font: inherit;
    margin: unset;
    padding: unset;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin-block: unset;
    margin-inline: unset;
}
