body {
    width: 100%;
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
}

body > .box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
}

body > .box > .wrapper {
    width: 100%;
    max-width: 95%;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

body > .box > .wrapper > .header {
    min-width: 100%;
    min-height: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.125rem solid rgb(150, 150, 150);
}

body > .box > .wrapper > .header > .logo-container {
    font-size: 2rem;
    font-weight: 700;
}
/* 
body > .box > .wrapper > .header > .name-space {
    color: rgb(150, 150, 150);
    font-weight: 500;  
      
} */
